<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerra del Peloponeso</title>
</head>
<body>
    <!--  <h1 style="text-align: center;> </h1>" -->
    <h1>La Guerra del Peloponeso</h1>
    <img style="max-width: 100%;  height: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Map_Peloponnesian_War_431_BC-es.svg/1920px-Map_Peloponnesian_War_431_BC-es.svg.png" alt="**mapa no se pudo cargar">
    <p>La <strong>Guerra del Peloponeso</strong> fue un conflicto bélico que enfrentó a las dos principales potencias de la antigua Grecia: Atenas y Esparta, durante los años 431-404 a.C. Este evento histórico tuvo lugar en el contexto de la época clásica de la civilización griega, una época de gran esplendor cultural y artístico, pero también de fuertes tensiones políticas y militares.</p>
    <p>Las causas de la guerra fueron complejas y multifacéticas. Por un lado, Atenas, con su poderosa flota y su liderazgo en la Liga de Delos, se había convertido en una potencia dominante en el mundo griego. Por otro lado, Esparta, con su ejército terrestre formidable y su alianza con otras ciudades-estado del Peloponeso, veía a Atenas como una amenaza a su hegemonía.</p>
    <p>El conflicto se desarrolló en varias fases, con enfrentamientos militares, alianzas cambiantes y tratados de paz temporales. La guerra afectó a toda la región griega, con devastadoras consecuencias para la población civil, la economía y la cultura.</p>
    <p>Finalmente, en el año 404 a.C., Atenas se rindió ante Esparta, marcando el fin de la guerra. Sin embargo, las secuelas perduraron durante décadas, debilitando a ambas ciudades-estado y allanando el camino para la posterior conquista de Grecia por parte de Macedonia bajo el mando de Alejandro Magno.</p>

    <br><br><br><center><li><a href="/mecenas">mecenas</a> </center>
</body>
</html>